* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #090E15;
}


body {
	font-family: Georgia, serif;
	background-color: #F4F7FB;
}

#masthead {
	height: 160px;
	background: #008236;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 4em;
	font-weight: bold;
	color: white;
}

#top_nav {
	width: 100%;
	height: 50px;
	background-color: white; 
	display: flex;
	border-top: 1px solid #D0D7E2;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	padding: 0 20px;
	
}

#top_nav_box {
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding: 20px 0;
	width: 100%;
	height: 100%;
}

#top_nav:hover {
	box-shadow: 0 0 5px 10px rgba(0,0,0,0.05);
}

.link_nav {
	display: flex;
	align-items: center;
}

.link_nav a {
	color: #090E15;
	background-color: #F4F7FB;
	width: 100%;
	text-decoration: dashed;
	padding: 10px 16px;
	border-radius: 4px;
	transition: background-color 0.2s, color 0.2s;
}

.link_nav a:hover {
	background-color: #b9f8cf;
	color: #090E15;
}

#container {
	width: 100%;
	display: flex;
	gap: 80px;
	padding: 15px;
}

#left_col {
	flex:1;
	padding: 10px;
}

#right_col {
	flex: 1;
	padding: 10px;
}

#left_col .module_title {
	background-color: #0077bb;
}

#right_col .module_title {
	background-color: #f0b100;
	color: #090E15;
}

.module {
	background-color: #FFFFFF;
	border: 1px solid #D0D7E2;
	border-radius: 8px;
	margin-bottom: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.05);
	padding: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	transition: top 0.1s;
}

.module_title {
	color: white;
	font-weight: bold;
	font-size: 1em;
	padding: 8px 12px;
}

.module_content {
	padding: 10px 12px;
	font-size: 0.95em;
	color: #1F2937;
	line-height: 1.4em;
}

.module:hover {
	box-shadow: 0 8px 20px rgba(0,0,0,0.1);
	top: -4px;
}

.path {
	align-self: center;
	font-size: 0.85em;
	padding: 4px 8px;
	border-radius: 4px;
	color: #090E15;
}

#page_content {
	flex: 5;
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-height: 500px;
	background-color: white;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

#page_content:hover {
	box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.article {
	background-color: #FFFFFF;
	border: 1px solid #D0D7E2;
	border-radius: 8px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.05);
	position: relative;
	top: 0;
	transition: top 0.1s;
}

.article:hover {
	box-shadow: 0 8px 20px rgba(0,0,0,0.1);
	top: -4px;
}

.article_title {
	background: #008236;
	color: white; 
	font: italic bold 1.4em Georgia, serif;
	padding: 10px 15px;
	margin: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.article_summary {
	font: italic 1.2em Georgia, serif;
	padding: 10px 15px;
	border-bottom: 1px solid #D0D7E2;
	background-color: #F4F7FB;
}

.article_summary div {
	font: italic 1.2em Georgia, serif;
	margin-bottom: 5px;
}

.article_content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#page_content>p {
	background-color: #FFFFFF;
	border: 1px solid #D0D7E2;
	border-radius: 8px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.05);
	padding: 15px;
	position: relative;
	top: 0;
	transition: top 0.1s;
}

#page_content>p:hover {
	box-shadow: 0 8px 20px rgba(0,0,0,0.1);
	top: -4px;
}

p.p1 {
	font: italic bold 1.2em Georgia, serif;
	border-right: 1px solid #D0D7E2;
	border-bottom: 1px solid #D0D7E2;
	padding: 6px 12px 6px 6px;
	width: fit-content;
	border-bottom-right-radius: 8px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.05);
}

p.p2 {
	font: bold 0.95em Georgia, serif;
	border: 1px solid #D0D7E2;
	width: fit-content;
	padding: 6px 12px;
	margin-top: 12px;
	border-radius: 0 8px 8px 0;
	background-color: #0077bb;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
	color: white;
}

p.p3 {
	font: bold 0.95em Georgia, serif;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #D0D7E2;
	color: #090E15;
	align-self: center;
	padding: 8px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 70%;
}

ul {
	list-style: disc;
	margin-left: 40px;
	margin-top: 5px;
}

ol {
	list-style-type: decimal;
	margin-left: 40px;
	margin-top: 5px;
}

ul li, ol li {
	margin-bottom: 5px;
}

.czysc{
	clear: both;
}

a {
	text-decoration: none;
	transition: color 0.2s, background-color 0.2s;
}

.link,
.link_selected,
.sub_link,
.sub_sub_link {
	display: block;
	margin-bottom: 3px;
	background-color: #F4F7FB;
	border-radius: 4px;
}

.link a,
.link_selected a,
.sub_link a,
.sub_sub_link a
{
	display: block;
	width: 100%;
	height: 100%;
	padding:6px 10px;
}

.link_selected {
	background-color: #9EE8FF;
	font-weight: bold;
}

.sub_link {
	width: 85%;
	margin-left: auto;
	font-size: 0.95em;
}

.sub_sub_link {
	width: 70%;
	margin-left: auto;
	font-size: 0.9em;
}

.link:hover,
.sub_link:hover,
.sub_sub_link:hover {
	background-color: #9EE8FF;
}


#footer {
	width: 100%;
	height: 40px;
	background-color: #1F2937; 
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9em;
}

.footer_box {
	padding: 5px;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	gap: 15px;
}

.link_foot {
	display: flex;
	align-items: center;
}

.link_foot a {
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
	transition: background-color 0.2s, color 0.2s;
}

.link_foot a:hover {
	background-color: #b9f8cf;
	color: #090E15;
}